.Content {
  .intro {
    margin-bottom: clamp(4rem, calc(96vw / 7.68), 6rem);
    > img {
      width: 100%;
      border-radius: 0.5rem;
    }

    > div {
      margin-bottom: clamp(1rem, calc(24vw / 7.68), 1.5rem);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;

      > p {
        display: grid;
        gap: 0.25rem;
        flex: 1;
      }

      .author {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          user-select: none;
        }

        p {
          display: grid;
          span:first-child {
            font-weight: 500;
          }
        }
      }
    }
  }

  .components {
    > h2 {
      text-transform: uppercase;
      margin-bottom: clamp(1.25rem, calc(24vw / 7.68), 2rem);
      &:not(:first-child) {
        margin-top: clamp(4rem, calc(96vw / 7.68), 6rem);
      }
    }

    > h3 {
      font-weight: 500;
      margin: clamp(1.5rem, calc(28vw / 7.68), 1.75rem) 0 clamp(1rem, calc(20vw / 7.68), 1.25rem);
    }

    > p:not(:has(+ :where(ul, ol))) {
      margin-bottom: 1rem;
    }

    > p:not(:has(+ p)) {
      margin-bottom: 0;
    }

    > ul,
    > ol {
      margin: 0.75rem 0;
      display: grid;
      gap: 0.75rem;
    }

    ol {
      list-style: decimal;
      padding-left: 1rem;
    }
  }
}
