.LatestBlogPosts {
  padding: clamp(2rem, calc(64vw / 7.68), 8rem) 0;
  @media (min-width: 75rem) {
    padding: 8rem 0;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 1.25rem;
    column-gap: 2rem;

    div:first-of-type {
      max-width: 26rem;
      width: fit-content;

      h1,
      h2 {
        text-transform: uppercase;
      }

      p {
        margin-top: clamp(1.25rem, calc(28vw / 7.68), 1.75rem);
      }
    }
  }

  .posts {
    margin-top: clamp(2rem, calc(48vw / 7.68), 3rem);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @media (min-width: 60.0625rem) {
      justify-content: center;
    }

    @media (min-width: 65rem) {
      margin-top: 2rem;
      justify-content: flex-end;
    }
  }
}
