.ApplicationForm {
  margin: clamp(2rem, calc(64vw / 7.68), 6rem) auto clamp(2rem, calc(64vw / 7.68), 8rem);
  max-width: 67.625rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: clamp(2rem, calc(64vw / 7.68), 4rem);
  column-gap: 1rem;

  @media (min-width: 80rem) {
    margin: 6rem auto 8rem;
  }

  .content {
    width: 100%;
    display: grid;
    gap: clamp(1.75rem, calc(32vw / 7.68), 3rem);

    @media (min-width: 62rem) {
      max-width: 33.3125rem;
    }

    .images {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 1rem;

      > div {
        border-radius: 0.25rem;
        overflow: hidden;
        width: 84px;
        &:nth-child(2n) {
          height: 82px;
        }
        &:nth-child(2n + 1) {
          height: 111px;
        }
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }

    > header {
      h2 {
        text-transform: uppercase;
        font-weight: 700;
        strong {
          color: var(--neutral-100);
        }
      }

      .subheading {
        margin-top: 0.75rem;
        display: grid;
        grid-template-columns: 1.25rem auto;
        gap: 0.5rem;
        svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }

    .text {
      p:not(:last-child) {
        margin-bottom: clamp(1rem, calc(24vw / 7.68), 1.5rem);
      }
      ul {
        display: grid;
        gap: 0.75rem;
      }
    }
  }

  .wrapper {
    width: 100%;
    @media (min-width: 62rem) {
      max-width: 19.5625rem;
    }
  }
}

.Form {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: start;
  width: 100%;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .formState {
    position: absolute;
    width: 100%;
    justify-self: center;
    margin-top: -15%;

    @media (min-width: 48rem) {
      width: clamp(18.625rem, calc(298vw / 7.68), 20.8125rem);
    }

    @media (min-width: 75rem) {
      align-self: start;
      margin-top: 15%;
    }
  }

  form {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    transition:
      opacity 0.2s 0.01s,
      visibility 0s 0s;

    @media (min-width: 29.125rem) {
      max-width: 19.5625rem;
    }

    &[data-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition:
        opacity 0.2s,
        visibility 0s 0.2s;
    }

    > label {
      margin-bottom: 1rem;
    }

    .radioGroup {
      margin-bottom: clamp(1.25rem, calc(24vw / 7.68), 1.5rem);
    }

    .textarea,
    .filesInput {
      margin-bottom: clamp(1rem, calc(24vw / 7.68), 1.5rem);
    }

    .checkbox {
      margin-bottom: clamp(0.75rem, calc(16vw / 7.68), 1rem);
    }
  }
}
