.JobsList {
  max-width: 67.625rem;
  margin: 0 auto clamp(2rem, calc(64vw / 7.68), 8rem);
  @media (min-width: 81rem) {
    margin: 0 auto 8rem;
  }

  .workshops {
    margin-bottom: clamp(1.75rem, calc(32vw / 7.68), 2rem);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.75rem;
    column-gap: 0.25rem;

    @media (min-width: 62.5rem) {
      width: fit-content;
      margin: 0 auto 2rem;
    }

    > p {
      width: 100%;
      @media (min-width: 48rem) {
        width: auto;
        padding-right: 1.75rem;
      }
    }
  }

  .list {
    display: grid;
    gap: clamp(0.75rem, calc(16vw / 7.68), 1rem);
  }
}

.JobOffer {
  position: relative;
  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-500);
  border-radius: 0.5rem;
  padding: clamp(1rem, calc(32vw / 7.68), 3rem);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: clamp(2.5rem, calc(48vw / 7.68), 3rem);
  column-gap: 2rem;

  .content {
    width: 100%;
    max-width: 44rem;
    display: grid;
    gap: clamp(1.5rem, calc(32vw / 7.68), 2.5rem);

    header p {
      margin-top: clamp(1.25rem, calc(24vw / 7.68), 1.5rem);
    }

    .tags {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      flex-wrap: wrap;

      img {
        user-select: none;
      }

      span {
        --padding: clamp(0.25rem, calc(8vw / 7.68), 0.5rem);
        background-color: var(--secondary-200);
        display: flex;
        gap: clamp(0.5rem, calc(12vw / 7.68), 0.75rem);
        align-items: center;
        padding: var(--padding) clamp(0.5rem, calc(12vw / 7.68), 0.75rem) var(--padding) var(--padding);
        border-radius: 0.25rem;
      }
    }

    .section {
      > p {
        margin-bottom: 1.25rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 0.75rem;
        padding-right: 2rem;
        li {
          width: 100%;
          @media (min-width: 48rem) {
            max-width: 18.875rem;
          }
        }
      }
    }
  }
}
