.Faq {
  padding: clamp(2rem, calc(32vw / 3.6), 8rem) 0;

  @media (min-width: 48rem) {
    padding: 8rem 0;
    max-width: 53.8125rem;
  }

  > header {
    text-align: center;
    margin-bottom: clamp(2rem, calc(64vw / 7.68), 4rem);
    h1,
    h2 {
      text-transform: uppercase;
    }

    p {
      margin-top: 1.5rem;
    }
  }

  .list {
    z-index: 2;
    display: grid;
    gap: 1rem;
    position: relative;

    details {
      --padding: clamp(0.75rem, calc(12vw / 3.6), 1.75rem);
      width: 100%;
      background-color: var(--neutral-700);
      border-radius: 0.5rem;
      border: 1px solid;
      border-color: var(--neutral-700);
      overflow: hidden;
      cursor: pointer;
      transition: border-color 0.2s;

      summary {
        display: flex;
        align-items: flex-start;
        gap: 0.75rem;
        padding: var(--padding) clamp(0.625rem, calc(10vw / 3.6), 1.25rem) var(--padding) var(--padding);
        @media (min-width: 48rem) {
          padding: 1.75rem 1.25rem 1.75rem 1.75rem;
        }

        p {
          flex-grow: 1;
          color: var(--neutral-100);
        }

        .icon {
          position: relative;
          flex-shrink: 0;
          width: 1.25rem;
          height: 1.25rem;
          margin-top: 0.1875rem;
          border-radius: 50%;
          border: 1.5px solid transparent;
          transform-origin: center;
          background-color: var(--secondary-500);
          display: grid;
          place-items: center;
          transition:
            background-color 0.2s,
            transform 0.2s;

          &::before,
          &::after {
            content: '';
            position: absolute;
            width: 0.4375rem;
            border: 1px solid var(--neutral-100);
            border-radius: 100vmax;
            transform-origin: center;
            transition: transform 0.2s;
          }

          &::before {
            transform: rotate(90deg);
          }
        }
      }

      .answer {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.35s;
        cursor: auto;

        padding: 0 clamp(0.625rem, calc(10vw / 3.6), 1.25rem) 0 var(--padding);
        @media (min-width: 48rem) {
          padding: 0 1.25rem 0 1.75rem;
        }

        > div {
          overflow: hidden;
        }

        p {
          padding-bottom: var(--padding);
          padding-right: clamp(1.75rem, calc(36vw / 7.68), 2.25rem);
          @media (min-width: 48rem) {
            padding-bottom: 1.75rem;
          }

          a {
            font-variant-numeric: normal;
            color: var(--neutral-300);
            transition: visibility 0s 0s;
            &:focus-visible {
              outline-offset: 0;
            }
          }
        }
      }

      &:has(summary:hover) {
        border-color: var(--neutral-500);

        .icon {
          transform: scale(1.15);
        }

        &[data-opened='true'] .icon {
          transform: rotate(45deg) scale(1.15);
        }
      }

      &[data-opened='false'] {
        .answer {
          grid-template-rows: 0fr;
          a {
            visibility: hidden;
            transition: visibility 0s 0.35s;
          }
        }
      }

      &[data-opened='true'] {
        .icon {
          background-color: var(--neutral-500);
          transform: rotate(45deg);

          &::before {
            transition: transform 0.25s 0.15s;
            transform: rotate(135deg);
          }

          &::after {
            transform: rotate(-45deg);
            transition: transform 0.25s 0.15s;
          }
        }

        .answer {
          grid-template-rows: 1fr;
          a {
            visibility: visible;
          }
        }
      }

      &:has(summary:focus-visible) {
        outline: 2px solid var(--neutral-100);
        outline-offset: 0;
        summary {
          outline: none;
        }
      }
    }
  }
}

.Form {
  width: 100%;

  .light {
    z-index: -5;
    @media (min-width: 48rem) {
      transform: translateY(-2rem);
    }
  }

  .content {
    position: relative;
    z-index: 6;
    margin: -2rem auto 0;

    width: 100%;
    max-width: 26.4375rem;

    @media (min-width: 48rem) {
      margin: -1.5rem auto 0;
    }

    @media (min-width: 75rem) {
      margin: -2rem auto 0;
    }

    form {
      display: grid;
      gap: clamp(2rem, calc(48vw / 7.68), 3rem);

      .checkboxButton {
        display: grid;
        gap: 1rem;
        @media (min-width: 32rem) {
          max-width: 19.5625rem;
        }
      }
    }
  }
}
