.FormState {
  text-align: center;

  .light {
    --width: calc(100vw - var(--page-margin) * 2);
    width: 430px;
    transform: translate(-67px);
    @media (min-width: 20rem) {
      transform: translate(calc((var(--width) - 430px) / 2), 10%);
    }

    @media (min-width: 48rem) {
      --width: clamp(18.625rem, calc(298vw / 7.68), 20.8125rem);
    }
  }

  .content {
    animation: fadeIn 0.3s;

    .icon {
      margin: 0 auto 0.75rem;
      width: 1.5rem;
      height: 1.5rem;
    }

    p:nth-of-type(2) {
      margin-top: 0.5rem;
    }

    button {
      margin: 1.5rem auto 0;
    }
  }

  .FormState:has(.light) {
    animation: fadeIn 0.1s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
