@property --post-card-color-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: #363636;
}

@property --post-card-color-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: #666666;
}

.BlogPostCard {
  --post-card-color-1: #363636;
  --post-card-color-2: #666666;
  position: relative;
  width: 100%;
  min-height: 360px;
  border: 1px solid transparent;
  background-image: linear-gradient(-45deg, var(--post-card-color-1), var(--post-card-color-2));
  background-origin: border-box;
  background-clip: border-box;
  overflow: hidden;
  border-radius: 0.5rem;
  display: grid;
  align-items: end;
  max-width: 28.125rem;
  transition:
    --post-card-color-1 0.4s,
    --post-card-color-2 0.4s,
    box-shadow 0.5s;

  @media (min-width: 48rem) {
    max-width: 100%;
    justify-items: end;
    align-items: stretch;
    min-height: 185px;
    max-height: 185px;
  }

  @media (min-width: 60.0625rem) {
    width: 19.25rem;
    min-height: 362px;
    align-items: end;
  }

  .link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    &:focus-visible {
      outline: none;
    }
  }

  .bg {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.5s;
    user-select: none;

    @media (pointer: fine) {
      will-change: transform;
    }
  }

  .content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
    min-height: 50%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.5rem;
    display: grid;
    align-content: space-between;
    row-gap: 0.5rem;
    transition: background-color 0.4s;

    @media (min-width: 48rem) {
      width: 50%;
      height: 100%;
      left: auto;
      top: 0;
      right: 0;
      bottom: 0;
    }

    @media (min-width: 60.0625rem) {
      width: 100%;
      height: auto;
      bottom: 0;
      left: 0;
      right: 0;
      top: auto;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      backdrop-filter: blur(24px);
      @media (pointer: fine) {
        opacity: 0;
        transition: opacity 0.4s;
      }
    }

    @media (pointer: fine) {
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(7.6px);
      }
    }

    h2,
    h3 {
      color: var(--neutral-100);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p span {
        display: block;
      }

      .icon {
        width: 2.5rem;
        height: 2.5rem;
        min-width: 40px;
        min-height: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        background-color: var(--neutral-700);
      }
    }
  }

  @media (pointer: fine) {
    .link:hover ~ .content {
      background-color: rgba(0, 0, 0, 0.3);
      &::before {
        opacity: 1;
      }
    }

    &:hover {
      --post-card-color-1: var(--secondary-500);
      --post-card-color-2: var(--secondary-500);
      box-shadow:
        0px 0px 4px 0px #a4bbf7 inset,
        0px 0px 100px 0px #2f64f0,
        0px 0px 12px 0px #2f64f0;

      .bg {
        transform: scale(1.015);
      }
    }
  }

  .link:active ~ .content {
    background-color: rgba(0, 0, 0, 0);
  }

  @media (prefers-reduced-motion: no-preference) {
    &:has(.link:active) {
      box-shadow:
        0px 0px 4px 0px #a4bbf7 inset,
        0px 0px 100px 0px #2f64f0,
        0px 0px 12px 0px #2f64f0;
    }
  }

  &:has(.link:active) {
    --post-card-color-1: var(--secondary-500);
    --post-card-color-2: var(--secondary-500);
  }

  &:has(.link:focus-visible) {
    outline: 2px solid var(--neutral-100);
    outline-offset: 8px;
  }
}
