.ListWithImages {
  display: grid;
  gap: 2rem;

  > div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 0.75rem;
    column-gap: 2rem;
    img {
      width: clamp(4.875rem, calc(109vw / 7.68), 109px);
      border-radius: 0.25rem;
    }

    > div {
      width: 100%;
      max-width: 31.375rem;
      padding-top: 0.375rem;

      @media (min-width: 48rem) {
        padding-top: 0;
      }

      h3 {
        font-weight: 500;
      }

      p {
        margin-top: clamp(0.75rem, calc(20vw / 7.68), 1.25rem);
      }
    }
  }
}
