.WorkshopCard {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 1.25rem;
  row-gap: clamp(0.25rem, calc(4vw / 3.6), 0.75rem);
  max-width: 15.625rem;

  @media (min-width: 48rem) {
    row-gap: 0.75rem;
    max-width: 13.8125rem;
  }

  @media (min-width: 75rem) {
    row-gap: 0.75rem;
    max-width: 100%;
  }

  .map {
    position: relative;
    width: 100%;
    display: grid;
    justify-items: center;

    @media (min-width: 75rem) {
      max-width: 16rem;
    }

    img {
      z-index: 0;
      width: 100%;
      max-height: 135.11px;
      object-fit: cover;
      border-radius: 0.5rem;
    }

    .rating {
      z-index: 2;
      width: fit-content;
      transform: translateY(-50%);
    }
  }

  .content {
    padding: 0.5rem 0.25rem;
    > p:first-of-type {
      font-weight: 500;
      margin-bottom: 0.75rem;
    }

    .hours {
      margin-bottom: clamp(0.75rem, calc(12vw / 7.68), 1rem);
      display: table;
      p {
        display: table-row;
        &:not(:last-child) {
          margin-bottom: 0.375rem;
        }
        span {
          display: table-cell;
          &:first-child {
            padding-right: 0.5rem;
          }
        }
      }
    }

    .departments {
      display: grid;
      gap: 1rem;

      address {
        font-style: normal;
        display: grid;
        gap: 0.375rem;
        p {
          font-weight: 500;
        }
        a {
          color: var(--neutral-300);
          transition: color 0.2s;
          &:hover {
            color: var(--neutral-100);
          }
        }
      }
    }
  }
}
